@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*
font-family: 'Merriweather',
serif;
font-family: 'Playfair Display',
serif;
*/

@font-face {
  font-family: biotif;
  src: url(./fonts/biotif/Biotif-Medium.ttf);
}

@font-face {
  font-family: cera;
  src: url(./fonts/cera-pro/Cera\ Pro\ Regular.otf);
}

@font-face {
  font-family: circular;
  src: url(./fonts/Circular/CircularStd-Medium.otf);
}

@font-face {
  font-family: silka;
  src: url(./fonts/silka-font-demo/Silka-Regular-&-Italic/Silka_Regular_&_Italic_Desktop/Silka-Regular.otf);
}


body{
  background: #8D9295;
}

.body{
  width: 100%;
  display: flex;
}

.right{
  width: 100%;
}

.oldOverlay{
  opacity: 0.07;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: 700px;
  background-repeat: repeat;
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWg4bXE1dWltcTRuY3U4cDltZnVwYjR2NGlramY5bzA3ZnZvNjBqayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TfStC9tJdqDdu/giphy.gif");
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 6;
}